#featured
{
	text-align:center;
	color:blue;
}
.feature
{
	margin-top:3%;
	background-image: linear-gradient(#46EEAA,#2CBFC7);
}
.checked
{
	color:orange;
}
#price
{
	margin-left:62%;
	float:right !important;
}
#cardhead
{
	margin-left:10px;
	color:blue;
}
#star{
	margin-left:10px;
}
.card{
	transition:0.5s;
}
.card:hover{
	box-shadow: -1px 9px 40px -12px rgba(0,0,0,0,75);
	-webkit-box-shadow:-1px 9px 40px -12px rgba(0,0,0,0,75);
	-moz-box-shadow:-1px 9px 40px -12px rgba(0,0,0,0,75);
	transform: scale(1.1);
}
#card-about
{
	transform: scale(1);
}
.card-text{
	color:brown;
}
.card-color
{
	background-color: lightblue;
}
.feature1
{
	margin-top: 6%;
	background-image: linear-gradient(#ffa6b7,#1e2ad2);
}
.feature2
{
	margin-top: 6%;
		background-image: linear-gradient(#f54ea2,#ff7676);
}
.feature3
{
	margin-top: 6%;
		background-image: linear-gradient(#7f00ff,#e100ff);
}
.feature4
{
	margin-top: 6%;
		background-image: linear-gradient(#209cff,#68e0cf);
}
.fotter
{
	background-color:black;
	margin-top:3%;
}
.fotter-text
{
	color:grey;
}
.contact
{
	margin-left:38% !important;
}
#insp
{
	height:100px!important;
	width:100%;
}
.img-quote
{
	margin-top:3%;
	margin-bottom:0%;
}
.followus-logo
{
	width:40px;
	height:40px;
	margin-right:15px;
	margin-top:10px;
}
.follow-us
{
	margin-left:45% !important;
}
.elearnbanner
{
	width:100%;
	height: 180px;
}