#search
{
	margin-left:480px;
	color:blue;
	display:inline;
}
#login{
	margin-left:30px;
}
body{
	margin-top:0px;
}
#top
{
	position:absolute;
	width:100%;
	height:20%;
}
.navbar{
	margin:0px !important;
	border-bottom: 2px solid orange !important;
	padding:5px !important;
}
section
{
	margin-top:0%;

}
.jumbotron
{
	width:100% !important;
	height: 600px;
	margin:0px !important;
	background-image: url("../images/jumb.jpg");
	background-size: 2500px 600px;
	border-bottom: orange solid !important;

}
.jumbotron-text
{

	color:black !important;
	font-weight: 50px !important; 
 font-family:  serif !important;
 margin-top: 100px;
}
.jumbo-mail
{
	font-size: 18pt;
	height: 50px;
	width:350px;
	margin-left: 20px;
	margin-top: 60px;
}
.jump-button
{
font-size: 19pt;
		margin-left: 20px;
		margin-top: -8px;
}
.top-margin{
	margin-left:1%;
}
#select
{
	text-align:center;
	color:blue;

}
#logo
{
	width:60px;
	height:50px;
	float:left;
	margin:0px;
	color:white;
}
#pacman
{
	width:60px;
	height:60px;
}

  #heade{
  	color:purple;
  	text-align: center;
  }
#featured
{
	text-align:center;
	color:blue;
}
.feature
{
	margin-top:6%;
	background-color: #DCDCDC;
}
.checked
{
	color:orange;
}
#price
{
	margin-left:62%;
	float:right !important;
}
#cardhead
{
	margin-left:10px;
	color:blue;
}
#star{
	margin-left:10px;
}
.about
{
	margin-top: 5%;
}
#about-img
{
	width:80%;
}
#rite
{
	border:2px solid black;
	margin-top:5% !important;
}
.offer
{
		margin-top:8%;
	background-color: #DCDCDC;
}
.fotter
{
	background-color:black;
	margin-top:0%;
}
.fotter-text
{
	color:grey;
}
.contact
{
	margin-left:38% !important;
}
#insp
{
	height:150px;
	width:1360px;
}
.img-quote
{
	margin-top:3%;
	margin-bottom:0%;
}
.followus-logo
{
	width:40px;
	height:40px;
	margin-right:15px;
	margin-top:10px;
}
.follow-us
{
	margin-left:45% !important;
}
.card{
	transition:0.5s;
}
.card:hover{
	box-shadow: -1px 9px 40px -12px rgba(0,0,0,0,75);
	-webkit-box-shadow:-1px 9px 40px -12px rgba(0,0,0,0,75);
	-moz-box-shadow:-1px 9px 40px -12px rgba(0,0,0,0,75);
	transform: scale(1.1);
}
#card-about
{
	transform: scale(1);
}
.card-text{
	color:brown;
}
.card-color
{
	background-color: lightblue;
}
#rite:hover
{
	transform: scale(1.1);
}
.col-md-3
{
	transition:1s;
}
.feed
{
	background-color: #FF5733;
	padding:50px;
	color: White;

}
